/* CSS files add styling rules to your content */

nav {
  font-family:Arial, Helvetica, sans-serif;
}

body {
  font-family:Arial, Helvetica, sans-serif;
}


h1 {
  font-style: italic;
  color: #373fff;
}

h2 {
  color: #000000;
  margin-left: 5px;

}

/* this is side bar navigation scroll function */
#list-tab {
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
}

#list-intro-list.active {
  background-color: #5cb85c;
}

#list-what-list.active {
  background-color: #5cb85c;
}

#list-java-list.active {
  background-color: #5cb85c;
}

#list-hello-list.active {
  background-color: #5cb85c;
}

#list-var-list.active {
  background-color: #5cb85c;
}

#list-decVar-list.active {
  background-color: #5cb85c;
}

#list-varScope-list.active {
  background-color: #5cb85c;
}

#list-global-list.active {
  background-color: #5cb85c;
}

#list-const-list.active {
  background-color: #5cb85c;
}

#list-data-list.active {
  background-color: #5cb85c;
}

#list-ifElse-list.active {
  background-color: #5cb85c;
}

#list-while-list.active {
  background-color: #5cb85c;
}

#list-funcs-list.active {
  background-color: #5cb85c;
}

#list-Reference-list.active {
  background-color: #5cb85c;
}


background-gray {
  background-color: rgb(233, 233, 233);
}

background-gray {
  background-color: #1A2228;
}

div.a {
margin-left: 25px;
font-family:'Courier New', Courier, monospace;
}

div.bulletpoints {
margin-left: 15px;
}

div.c {
text-indent: 30%;
}

div.d {
margin-bottom: 25px;
}

div.e {
margin-right: 0px;
}
